<p id="notice"><%= notice %></p>

<h1>Lista News Articles</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Body</th>
      <th>Imageurl</th>
      <th>Moreinfourl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news_articles.each do |news_article| %>
      <tr>
        <td><%= news_article.title %></td>
        <td><%= news_article.description %></td>
        <td><%= news_article.body %></td>
        <td><%= news_article.imageUrl %></td>
        <td><%= news_article.moreInfoUrl %></td>
        <td><%= link_to 'Show', news_article %></td>
        <td><%= link_to 'Edit', edit_news_article_path(news_article) %></td>
        <td><%= link_to 'Destroy', news_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New News article', new_news_article_path %>
